*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    color: #e2e8f0;
    font-family: "inter", sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    background: linear-gradient(90deg,rgba(87, 76, 232, 1) 0%, rgba(63, 159, 219, 1) 100%);
    padding: 40px 120px;

}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
h1{
    font-size: 2em;
    margin: 0px;

}
header nav ul {
    display: flex;
    gap: 12px;
    list-style: none;
}
.search-bar{
    display: flex;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(55px);
    color: #0a111e;
}
.search-bar input{
    border: none;
    background-color: transparent;
    width: 95%;
    color: #ffffff;
    padding: 8px;
}
.search-bar input::placeholder{
    color: #d1d1d1;
    opacity: 0.7;
}
.search-bar .search-icon{
    color: #a0aec0;
    padding: 5px;
}
.articles{
   display: flex;
   justify-content: center;
   padding: 40px 120px;
   gap: 40px;
   flex-wrap: wrap;
}
.article-card{
    background-color: #f4f5f7;
    color: #0a111e;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 16px;
    border-radius: 8px;
    width: 100%;
}
.article-header{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    font-weight: 200;
}
.article-title{
    font-weight: bolder;
}
.article-card{
    line-height: 1.4;
}
.likebutton{
    background: none;
    border: none;
    font-size: 1.5em;
}
@media (max-width: 768px) {
   body{
    background-color: aquamarine;
   }
   .article-header{
    font-size: 0.8em;
   }
   header, .articles{
    padding: 40px;
   }

}
.ntitle{
    text-align: center;
    margin: 20px 0px;
    font-weight: bolder;
}
.article{
    padding: 24px;
    width: 60%;
    background-color: #d8d8d8;
    padding: 40px 120px;
    color: #0a111e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.nbc{
    background-color: rgb(255, 255, 255);
    padding: 40px;
    display: flex;
    justify-content: center;
}
.news-highlight{
    font-size: 1.5;
    text-align: center;
    font-style: oblique;
}
.news-body{
    line-height: 1.5;
    text-indent: 24px;
}
img{
    width: 100%;
    padding: 16px;
}